/*----------- Flex ------------*/
body{
    margin: 0;
}
header{
    display:flex;
    flex-direction: column;
    flex: 2 1 auto;
    width: 100%;
    align-items: center;
    padding-top: 1em;
    padding-bottom: 1em;
    color: #FFFFFF;
}
header h1{
    font-size: 250%;
    font-weight: 600;
    margin: 0;
}
header p{
    margin: 0;
}
section{
    display:flex;
    width: 100%;
}
section ul{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 1em 0 0 0;
    gap: 1em;
}
section li{
    flex: auto;
    flex-grow: shrink;
}
section img{
    height: 100%;
    width: 100%;
}


/*----------- Grid ------------*/


div.grid-container{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-auto-rows: 100px;
    width: 100%;
    background-color: #ff009d;
}

header{
    background-color: #000000;
    font-size: 250%;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 1/span 6;
    grid-row: 1/span 1;
}

div.image-cell{
    background-color: #95faaf;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 1/span 4;
    grid-row: 2/span 4;
}

main{
    background-color: #ff0000;
    padding: 1em;
    font-size: 200%;
    grid-column: 5/span 2;
    grid-row: 2/span 4;
}

footer{
    background-color: #000000;
    color: #FFFFFF;
    display: flex;
    grid-column: 1/span 6;
    grid-row: 6/span 1;
    align-items: center;
    justify-content: center;
}

/* --- Nav ---- */

.NavPages {
    background-color: #95faaf;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
}

.Pages{
    display: flex;
    flex-direction: row;
    flex-basis: 100px;
    flex-grow: 3;
    align-content: center;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 230px;
    height: 100%;
    width: 100%;
} 